*src_git/
*test/B_field*
*test/Jtor*
*test/logs/
*test/MHDG-*
*test/param.txt
*test/Puff*
*test/Sol*
*lib/*.F
*lib/*.o
*lib/*.mod
*lib/MHDG-*
*MHDG-*
*src_*
*test/res/*.h5
*test/res/*.msh
*test/res/*.mesh
*test/res/geometries/*
*test/Sample_equilibrium/*
*test/*.h5